{% extends "base.html" %}
{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<script type="module">
   import Autogrow from "https://cdn.jsdelivr.net/npm/vanilla-autogrow@1.0.0/autogrow.min.js";
   var inst = new Autogrow();
</script>
{% block content %}
<div id="layoutSidenav_content">
   <main>
      <div class="container-fluid px-4">
         <h1 class="mt-4 heading-color">
            MCQ
         </h1>
         <div id="index_div">
            <div class="card card box-shadow  mx-auto my-5 border-color" >
               <h5 class="card-header heading-color">Description</h5>
               <div class="card-body card-bg">
                  <h5 class="card-title">MCQ</h5>
                  <p class="card-text">This project generates multiple-choice questions based on a given paragraph. It aims to automate the process of generating questions and answer options. 
                     <br><br>
                     <b><i>Input</i></b> - The input in generate_questions_with_answers function is a paragraph of text.  <br>
                     <b><i>Output</i></b> -The output of function is a list of multiple-choice questions in the form of a Python dictionary.<br><br>
                  </p>
               </div>
            </div>
            <div class="card card box-shadow  mx-auto my-5 border-color" >
               <h5 class="card-header heading-color">Sample paragraph</h5>
               <div class="card-body card-bg">
                  <p class="card-text">This project generates multiple-choice questions based on a given paragraph. It aims to automate the process of generating questions and answer options. 
                     The Industrial Revolution was a period of significant change and innovation that occurred in the late 18th century and continued into the 19th century. It marked a transition from handmade production methods to machine-based manufacturing processes. One of the key inventions of this era was the steam engine, which revolutionized transportation and industry. The steam engine enabled the development of steam-powered locomotives and steamships, allowing goods and people to be transported more quickly and efficiently. Additionally, the invention of the spinning jenny and the power loom mechanized textile production, leading to the growth of the textile industry. These advancements in technology and industry had profound social and economic impacts, transforming society and leading to the rise of urbanization and the formation of a capitalist economy.
                  </p>
               </div>
            </div>
         <div class="card mb-4 border-color ">
            <form name="form1"  method="POST">
               {% csrf_token %}
               <div class="card-body ">
                  <p class="mb-0">
                     <label for="exampleFormControlTextarea1" class="form-label">Enter the text below.
                     </label>
                     <textarea  id="user_input" oninput="char_limit()" name="user_input" class="form-control border-color" rows="3" minlength="300" required></textarea>
                     <span id="error_div" style="display: none;color:red;">Field can not be empty.</span>
                     <span id="min_char_error" style="display: none;color:red;"> Please write minimum 200 characters..</span>

                  <p style="color:red;">{{invalid_paragraph}}</p>
                  <br>
                  <button onclick="submit_form()" id="submit-button" type="button" class="formbtn"><i class="fa fa-paper-plane " aria-hidden="true"></i> Submit
                  <span class="spinner-border spinner-border-sm show_spinner d-none" role="status" aria-hidden="true"></span>
                  <span class="visually-hidden show_spinner">Loading...</span>
                  </button>
               </div>
            </form>
         </div>
      </div>
      <div id="response_div"></div>
   </main>
</div>
<script>
   function submit_form(){
     var input = $('#user_input').val();
     if (input == "")
     {
     $("#error_div").show();
     $("#error_div").removeClass('d-none')
    
     return false;
     }
     Spinner()
       $.ajax({
               type: "POST",
               url: window.location.pathname,
               data: {
                   user_input: input,
                   csrfmiddlewaretoken: '{{ csrf_token }}',
   
               },
               success: function (response) {
                 
               $('#response_div').html(response)
               $('#index_div').addClass('d-none')
               $("div").removeClass("overlay");
   
   
               }
               
   
           });
         }
   

   function Spinner()
    {
   
    $(".show_spinner").removeClass('d-none');
    
    var div= document.createElement("div");
       div.className += "overlay";
       document.body.appendChild(div);
    return true; 
    }
    

    let text = document.getElementById("user_input");
    let fileSubmit = document.getElementById("submit-button");
 
 function char_limit(){
 
     if (text.value.length < 200) {   
         $("#error_div").hide()
 
          $("#min_char_error").show();
          fileSubmit.disabled = true;
 
        }
 
    else{   
     $("#error_div").hide()
 
          $("#min_char_error").hide();
          fileSubmit.disabled = false;
 
        }
        
    }
    </script>

</script>
{% endblock %}
