{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
   <main>
      <div class="container-fluid heading-color px-4">
         <h1 class="mt-4 heading-color">
            Object Classification
         </h1>
         <div id="index_div" >
            <div class="card card box-shadow  mx-auto my-5 border-color">
               <h5 class="card-header">Description</h5>
               <div class="card-body card-bg">
                  <h5 class="card-title">X-Ray classification using CNN</h5>
                  <p class="card-text" style="color:black">This project aims to explore the use of machine learning algorithms for X-ray analysis in the diagnosis of pneumonia, tuberculosis, and Covid-19. The results of this project may have important implications for improving the accuracy and speed of X-ray diagnosis, ultimately leading to better patient outcomes and reduced healthcare costs.<br><br>
                     <b><i>Input</i></b> - The chest X-Ray image.
                     <br>
                     <b><i>Output</i></b> - Pneumonia/Tuberculosis/Covid-19/Normal.
                  </p>
               </div>
            </div>
            <div class="card mb-4 card box-shadow mx-auto my-5 border-color" >
               <div class="card-body" style="background: #f9f9f9;">
                  <p class="mb-0">
                     <a href="{% static '' %}sample_datasets/object-classification.zip" ><button style="float:right" type="submit" class="formbtn">Sample Dataset
                     </button></a>
                  <form id="file-upload-form" name="upload_form"  method="POST"  enctype="multipart/form-data" class="uploader">
                     {% csrf_token %}
                     <input id="file-upload" type="file"  onchange="DisplayImage(event);ImageFormatValidate();size_validation();" name="upload_image" accept="image/png, image/JPG, image/jpeg" / >
                     <label for="file-upload" id="file-drag" class="animated wow zoomInUp delay-1s">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                           <i class="fa fa-download" aria-hidden="true"></i>
                           <div>Upload only JPG ad PNG image.</div>
                           <div id="notimage" class="hidden">Please select an image</div>
                           <span id="file-upload-btn" class="btn btn-">Select a file</span>
                           <p><img id="output" width="200" /></p>
                        </div>
                        <div id="spinner_div" class="spinner-border m-5 "  style="display: none;" role="status">
                           <span class="visually-hidden">Loading...</span>
                        </div>
                        <span id="error_div" style="display: none;color:red;">Please Upload the file, File cannot be empty.</span>
                        <span id="image_error" style="display: none;color:red;">Please Upload the JPG and PNG only</span>
                        <span id="size_error" style="display: none;color:red;">Please select a file less than 1MB.</span>
                        <div id="response" class="hidden">
                           <div id="messages"></div>
                           <progress class="progress" id="file-progress" value="0">
                           <span>0</span>%
                           </progress>
                           <div class="copyURL">
                              <input type="text" id="myInput" class="formtext" placeholder="File URL" value=" ">
                              <button type="submit" class="formbtn">Submit</button>
                           </div>
                        </div>
                     </label>
                     <button  id="submit-button" type="button" class="formbtn btn-css file_upload_form_submit">Submit</button>
                  </form>
               </div>
            </div>
         </div>
         <div id="response_div">
         </div>
      </div>
   </main>
</div>
<script>
   $(document).ready(function() {
       $('.file_upload_form_submit').click(function(e) {
           e.preventDefault();
           var form = $('#file-upload-form')[0];
           var data = new FormData(form);
          Spinner()
           $.ajax({
               type: 'POST',
               url: window.location.pathname,
               data: data,
               processData: false,
               contentType: false,
               success: function(response) {
                  console.log(response)
                  $('#response_div').html(response)
                  $('#index_div').addClass('d-none')
                  $("div").removeClass("overlay");
   
                  
               },
               error: function(xhr, status, error) {
                   console.log(xhr.responseText);
               }
           });
       });
   });

   function Spinner()
   {
   var empt = document.forms["file-upload-form"]["upload_image"].value;
   if (empt == "")
   {
   $("#error_div").show();
   
   return false;
   }
   else 
   {
   $("#spinner_div").show();
   $("#error_div").hide();
   
   var div= document.createElement("div");
      div.className += "overlay";
      document.body.appendChild(div);
   return true; 
   }
   }
   

   function ImageFormatValidate(){
      let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png'];
      let type = document.getElementById('file-upload').files[0].type;
      if(allowedExtension.indexOf(type)>-1)
      {
         $("#image_error").hide();
         $("#output").show()
         $("#error_div").hide();
         $("#submit-button").removeClass('d-none');
   
   
   
      }else{
         $("#image_error").show();
         $("#submit-button").addClass('d-none');
         $("#output").hide()
         $("#error_div").hide();
   
           }
           
      }
      
      let fileInput = document.getElementById("file-upload");
      let fileSubmit = document.getElementById("submit-button");
      function size_validation(){
   
         if (fileInput.files.length > 0) {
           const fileSize = fileInput.files.item(0).size;
           const fileMb = fileSize / 1024 ** 2;
           if (fileMb > 1) {
             $("#size_error").show();
   
             fileSubmit.disabled = true;
           } else {
            $("#size_error").hide();
             fileSubmit.disabled = false;
           }
         }
       }
   
</script>
{% endblock %}
